@media only screen and (max-width: 1200px) {

    .header-content {
        margin: 0 1em 0 1em;
    }

    .intro-img {
        display: none;
    }

    .intro-text {
        margin: 0 1em 0 1em;
    }

    .intro-text>h1 {
        max-width: 100%;

    }

    .intro-text>p {
        max-width: 100%;
    }

    .info-wrapper {
        overflow: hidden;
    }

    .info-img {
        right: -25%;
    }

    .info-text {
        margin: 0 25em 0 1em;
        padding: 120px 20px 95px 60px;
    }


    .about-title {
        justify-content: space-evenly;
        margin: 0 1em 75px 1em;
    }

    .about-title>h4 {
        margin: 6px 20px 0 0;
    }

    .about-cards hr {
        margin: 0 10px 23px 20px;
    }


    .contact-cards {
        z-index: 1;
        margin-left: 0;
        text-align: center;
        /* flex-wrap: wrap; */
        display: flex;
    }

    .contact-cards>* {
        margin: 0;
        text-align: center;
    }

    .contact-card {
        padding: 32px 16px 25px 16px;
    }

    .contact-wrapper>.container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        overflow: hidden;
    }

    .contact-wrapper>.container>* {
        flex: 1 1 380px;
    }

    .contact-img {
        position: static;
        display: block;
        background-image: url(https://github.com/Ann-Alex-K/PNT/blob/main/assets/3_5Image13.jpeg?raw=true);
        background-size: cover;
        background-repeat: no-repeat;
        margin: -7em -2em 0 -2em;
        min-height: 580px;
        max-width: 110%;
    }

    .contact-img>img {
        display: none;
    }

    .contact-card>.header-tg-wt {
        justify-content: center;
        margin-left: 0em;

    }




}

@media only screen and (max-width: 900px) {

    .intro-text {
        row-gap: 5em;
        padding: 0;
    }

    .info-img {
        right: -60%;
    }

    .info-text {
        padding: 151px 0 140px 0;
    }


    .about-cards>* {
        padding-left: 15px;
    }

    .contact-img {
        margin: -5em -2em 0 -2em;
        min-height: 480px;
    }


}

@media only screen and (max-width: 800px) {


    .info-wrapper>.container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .info-wrapper>.container>* {
        flex: 1 1 580px;
    }

    .info-img {
        position: static;
        display: block;
        background-image: url(https://github.com/Ann-Alex-K/PNT/blob/main/assets/fullloo2.jpg?raw=true);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: -70px;
        margin: -1em -2em 0 -2em;
        max-width: 120%;

    }

    .info-img>img {
        display: none;
    }

    .info-text {
        margin: 0 1em 0 1em;
        padding: 151px 0 4em 0;
    }

    .info-text>p {
        max-width: 100%;
    }

    .service-cards>* {
        padding-left: 10px;
    }

    .about-cards>* {
        padding-left: 5px;
    }



    .contact-img {
        min-height: 380px;
    }

    .tel-wrapper {
        margin: -10px 10px 0 0
    }
    
}

@media only screen and (max-width: 620px) {

    .header-wrapper>.container {
        padding: 0 17px;
    }

    .header-content {
        padding: 16px 0 10px 0;
        margin: 0;
    }

    .header-btn>button {
        width: 100px;
        height: 30px;
        font-size: 13px;
    }

    ul {
        font-size: 12px;
    }

    li {
        display: inline-block;
        padding: 0 5px;
    }

    .header-logo>h3 {
        font-size: 20px;
    }

    .intro-wrapper {
        padding-top: 141px;
    }

    .info-wrapper>.container>* {
        flex: 1 1 400px;
    }

    .info-text {
        padding-top: 5em;
        row-gap: 2em;
        padding-bottom: 2em;
    }

    .info-img {
        background-image: url(https://github.com/Ann-Alex-K/PNT/blob/main/assets/fullloo2.jpg?raw=true);
        max-height: 30em;
        background-position-y: 0px;
        margin: 0 -2em 0 -2em;
    }



    .about-wrapper {
        margin-top: 50px;
    }

    .about-title {
        row-gap: 2em;
        flex-direction: column;
    }

    .about-title>h4 {
        margin: 6px 0 0 0;
    }

    .about-service>* {
        padding: 30px 45px 30px 45px;
    }


    .contact {
        margin-bottom: 65px;
    }


    .contact-cards {
        margin: 0;
        flex-wrap: wrap;
    }


    .contact-card {
        padding: 20px 16px 0 16px;
    }

    .contact-card>h4 {
        height: 8px;
    }

    .contact-img {
        min-height: auto;
        margin: -2em -4em 0 -5em;
        max-width: 130%;
    }

    .main-img>img {
        display: none;
    }

    .main-img {
        position: static;
        display: block;
        background-image: url(https://github.com/Ann-Alex-K/PNT/blob/main/assets/main.png?raw=true);
        background-size: cover;
        background-repeat: no-repeat;
        margin: -7em 0em 0 1em;
        /* min-height: 580px; */
        max-width: 100%;
        background-position-y: 200px;
        background-size: contain;
        min-height: 400px;
        /* right: 2em; */
    }

    .tel {
        font-size: 13px;
    }

}

@media only screen and (max-width: 420px) {

    .header-wrapper>.container {
        padding: 0 5px;
    }

    .header-btn>button {
        width: 80px;
        font-size: 11px;
    }

    .header-logo>h3 {
        font-size: 14px;
    }

    .contact-img {
        margin: -3em -2em 0 -8em;
        align-items: center;
        max-width: 170%;
    }

}